* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************PC***LapTop***Header****************/

.top-header {
    display: flex;
    background-color: gray;
    text-align: center;
}

.top-header img{
    height: 70px;
    
}

/*==================NAV=MENU=START==================*/
.top-header ul {
    font-size: 20px;
    list-style: none;
    color: whitesmoke;
    display: flex;
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
}

.top-header ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.svc-sub-men ul li {
    display: block;
    background-color: lightgray;
    width: 120px;
}

.top-header ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Voltaire', sans-serif;
}

.top-header ul li:hover {
    background-color: lightgray;
}

/*^^^^^^^^^^^^^^^^^^^^PC***LapTop***Header^^^^^^^^^^^^^^^^^^^^*/

/**************Header***Tablets***Mobile****************/

.burger {
    display: none;
    /*padding-top: 47px;*/
    align-items: center;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: lightgray;
    margin: 6px;
}

@media screen and (max-width: 795px) {
    body {
        background: rgb(66, 66, 66);
        align-items: center;
    }

    .burger {
        display: inline-block;
        position: relative;
        padding-left: 85%;
    }

    .top-header {
        display: none;
    }

    .logo-container {
        padding-left: 30%;
        position: relative;
    }

    .logo-container h1 {
        padding-left: 30px;
        padding-right: 0px;
        display: block;
    }
}

/**************Header***Tablets***Mobile****************/

.carousel-container {
    display: block;
    width: 100%;
    overflow: hidden;
    align-content: center;
    background-color: rgb(66, 66, 66);
}