* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************PC***LapTop***Header****************/
header{
    display: flex;
    background-color: gray;
}

.logo_container {
    display: flex;
    flex-direction: column;
}

.logo_container h1{
    font-family: 'Pacifico', sans-serif;
    color: red;
    border-bottom: blue 10px;
}

.logo_container h3{
    font-family: 'Voltaire', sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 0;
    padding-left: 0;
    border-top: blue 1px;
}
/*==================NAV=MENU=START==================*/


/*^^^^^^^^^^^^^^^^^^^^PC***LapTop***Header^^^^^^^^^^^^^^^^^^^^*/


















/**************Header***Tablets***Mobile****************/

.burger {
    display: none;
    /*padding-top: 47px;*/
    align-items: center;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: lightgray;
    margin: 6px;
}

@media screen and (max-width: 795px) {
    body {
        background: rgb(66, 66, 66);
        align-items: center;
    }

    .burger {
        display: inline-block;
        position: relative;
        padding-left: 85%;
    }

    .nav {
        display: none;
    }

    .logo_container {
        padding-left: 30%;
        position: relative;
    }

    .logo_container h1 {
        padding-left: 30px;
        padding-right: 0px;
        display: block;
    }
}

/**************Header***Tablets***Mobile****************/