/*HOME PAGE HOME PAGE HOME PAGE HOME PAGE*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/8BallFeature.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

/**************PC**Header****************/
header {
    display: flex;
    align-content: center;
    height: 100px;
}

.logo_container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 1%;
    text-align: center;
}

.logo_container h1 {
    font-family: 'Pacifico', sans-serif;
    color: red;
    line-height: 50px;
}

.logo_container h3 {
    font-family: 'Voltaire', sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 0;
    padding-left: 0;
    border-top: solid blue;
}

/*==================NAV=MENU=START==================*/

nav {
    margin: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    padding-top: 40px;
    padding-bottom: 0;
    list-style: none;
    text-align: center;
    line-height: 45px;
    height: 5em;
}

li {
    display: inline-block;
    height: 2.5em;
}

a {
    display: block;
    font-family: 'Voltaire', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: auto;
    padding: 0px 25px 25px 25px;
    height: 1.8em;
}

.svc-men {
    display: none;
    position: absolute;
    height: 7.4em;
    min-width: 7.6em;
    /*background-color: gray;*/
}

li:hover {
    background-color: lightgray;
}

li:hover .svc-men {
    display: block;
    /*background-color: gray;*/
}

.svc-men ul {
    padding: 0em;
    display: flex;
    flex-direction: column;
    /*background-color: gray;*/
}

.svc-men ul li {
    text-align: left;
}

.loc-men {
    display: none;
    position: absolute;
    height: 7.4em;
    min-width: 7.6em;
    /*background-color: gray;*/
}

li:hover .loc-men {
    display: block;
    /*background-color: gray;*/
}

.loc-men ul {
    padding: 0em;
    display: flex;
    flex-direction: column;
    /*background-color: gray;*/
}

.loc-men ul li {
    text-align: left;
}

p {
    font-family: 'Voltaire', sans-serif;
    color: white
}

/**************Header***Tablets***Mobile****************/

.burger {
    display: none;
    /*padding-top: 47px;*/
    align-items: center;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: lightgray;
    margin: 6px;
}

@media screen and (max-width: 848px) {
    body {
        background: rgb(66, 66, 66);
        align-items: center;
    }

    .burger {
        display: inline-block;
        position: relative;
        padding-left: 85%;
    }

    .nav ul li a {
        display: none;
    }

    .logo_container {
        padding-left: 30%;
        position: relative;
    }

    .logo_container h1 {
        padding-left: 30px;
        padding-right: 0px;
        display: block;
    }
}

/**************Header***Tablets***Mobile****************/
/*SERVICES PAGE SERVICES PAGE SERVICES PAGE SERVICES PAGE*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/lndpgtable.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

/**************PC**Header****************/
header {
    display: flex;
    align-content: center;
    height: 100px;
}

.logo_container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 1%;
    text-align: center;
}

.logo_container h1 {
    font-family: 'Pacifico', sans-serif;
    color: red;
    line-height: 50px;
}

.logo_container h3 {
    font-family: 'Voltaire', sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 0;
    padding-left: 0;
    border-top: solid blue;
}

/*==================NAV=MENU=START==================*/

nav {
    margin: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    padding-top: 40px;
    padding-bottom: 0;
    list-style: none;
    text-align: center;
    line-height: 45px;
    height: 5em;
}

li {
    display: inline-block;
    height: 2.5em;
}

a {
    display: block;
    font-family: 'Voltaire', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: auto;
    padding: 0px 25px 25px 25px;
    height: 1.8em;
}

.svc-men {
    display: none;
    position: absolute;
    height: 7.4em;
    min-width: 7.6em;
    /*background-color: gray;*/
}

li:hover {
    background-color: lightgray;
}

li:hover .svc-men {
    display: block;
    /*background-color: gray;*/
}

.svc-men ul {
    padding: 0em;
    display: flex;
    flex-direction: column;
    /*background-color: gray;*/
}

.svc-men ul li {
    text-align: left;
}

.loc-men {
    display: none;
    position: absolute;
    height: 7.4em;
    min-width: 7.6em;
    /*background-color: gray;*/
}

li:hover .loc-men {
    display: block;
    /*background-color: gray;*/
}

.loc-men ul {
    padding: 0em;
    display: flex;
    flex-direction: column;
    /*background-color: gray;*/
}

.loc-men ul li {
    text-align: left;
}

/*LOCATION PAGE LOCATION PAGE LOCATION PAGE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/8BallFeature.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

/**************PC**Header****************/
header {
    display: flex;
    align-content: center;
    height: 100px;
}

.logo_container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 1%;
    text-align: center;
}

.logo_container h1 {
    font-family: 'Pacifico', sans-serif;
    color: red;
    line-height: 50px;
}

.logo_container h3 {
    font-family: 'Voltaire', sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 0;
    padding-left: 0;
    border-top: solid blue;
}

/*==================NAV=MENU=START==================*/

nav {
    margin: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    padding-top: 40px;
    padding-bottom: 0;
    list-style: none;
    text-align: center;
    line-height: 45px;
    height: 5em;
}

li {
    display: inline-block;
    height: 2.5em;
}

a {
    display: block;
    font-family: 'Voltaire', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: auto;
    padding: 0px 25px 25px 25px;
    height: 1.8em;
}

.svc-men {
    display: none;
    position: absolute;
    height: 7.4em;
    min-width: 7.6em;
    /*background-color: gray;*/
}

li:hover {
    background-color: lightgray;
}

li:hover .svc-men {
    display: block;
    /*background-color: gray;*/
}

.svc-men ul {
    padding: 0em;
    display: flex;
    flex-direction: column;
    /*background-color: gray;*/
}

.svc-men ul li {
    text-align: left;
}

.loc-men {
    display: none;
    position: absolute;
    height: 7.4em;
    min-width: 7.6em;
    /*background-color: gray;*/
}

li:hover .loc-men {
    display: block;
    /*background-color: gray;*/
}

.loc-men ul {
    padding: 0em;
    display: flex;
    flex-direction: column;
    /*background-color: gray;*/
}

.loc-men ul li {
    text-align: left;
}